<template lang="pug">
  section
    h1
      | Shuffler
    p
      input(type="text" name="user" v-model="user" @keyup.enter="addUser" @keypress="setCanAddUser")
    p
      button(@click="addUser")
        | 追加
    | {{users}}
    p
      nuxt-link(:to="`next`")
        | 次へ
</template>


<script>
export default {
  async asyncData({ app, store, params }) {
    const users = store.state.users;
    return {
      users,
      user: "",
      canAddUser: false
    };
  },
  methods: {
    // 日本語変換確定時に送信されてしまう問題対策
    setCanAddUser: function() {
      this.canAddUser = true;
    },
    // ユーザー登録
    addUser: function(event) {
      // 登録可能な時のみ登録
      if (!this.canAddUser) {
        return;
      }

      // ストアにデータ登録
      const addData = {
        user: this.user
      };
      this.$store.commit("addUser", addData);

      // 登録後データ初期化
      this.canAddUser = false;
      this.user = "";
    }
  }
};
</script>

<style>
</style>

