<template lang="pug">
    section
        | {{users}}

</template>

<script>
export default {
  async asyncData({ app, store, params }) {
    const users = store.state.users;
    return {
      users
    };
  }
};
</script>
